@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --bg-color-main: #cd9746;
  --bg-color-secondary: #ffe4a0;
  --bg-color-t: #60a363;
  --primary-text: #ffffff;
  --secondary-text: #60a363;
}


body, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,
h4,h5,h6,
p,a,button{
  margin: 0;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

li{
  list-style: none;
}

.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: var(--bg-color-t);
  color: var(--primary-text);
}

.title h1{
  text-transform: uppercase;
}

.title img{
  width: 300px;
  height: 300px;
}

.redes p{
  font-size: 22px;
  margin-top: 2rem;
}

.redes a i{
  color: var(--primary-text);
  font-size: 22px;
  margin: 10px 20px;
}


@media screen and (max-width: 575px) {

  .main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .title{
    margin-top: 4em;
  }

  .title h1{
    font-size: 25px;
  }

  .title, .paragraph, .social-container{
    padding: 0 20px;
  }

  .title img{
    width: 175px;
    height: 175px;
  }

  .redes{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
  }

  .redes p{
    font-size: 19px;
    margin-top: 2rem;
    width: 325px;
  }
}
